/Debug/
/Release/

.cproject

.project

.settings/language.settings.xml
.settings/org.eclipse.cdt.codan.core.prefs
advanced-programming-2015/Debug/advanced-programming-2015.exe
advanced-programming-2015/Debug/advanced-programming-2015.ilk
advanced-programming-2015/Debug/advanced-programming-2015.pdb
advanced-programming-2015/advanced-programming-2015.opensdf
advanced-programming-2015/advanced-programming-2015.sdf
advanced-programming-2015/advanced-programming-2015.sln
advanced-programming-2015/advanced-programming-2015.v12.suo
advanced-programming-2015/advanced-programming-2015/Debug/Main.obj
advanced-programming-2015/advanced-programming-2015/Debug/PersonArray_t.obj
advanced-programming-2015/advanced-programming-2015/Debug/Person_t.obj
advanced-programming-2015/advanced-programming-2015/Debug/advanced-programming-2015.log
advanced-programming-2015/advanced-programming-2015/Debug/advanced.D6BFB63B.tlog/CL.read.1.tlog
advanced-programming-2015/advanced-programming-2015/Debug/advanced.D6BFB63B.tlog/CL.write.1.tlog
advanced-programming-2015/advanced-programming-2015/Debug/advanced.D6BFB63B.tlog/advanced-programming-2015.lastbuildstate
advanced-programming-2015/advanced-programming-2015/Debug/advanced.D6BFB63B.tlog/cl.command.1.tlog
advanced-programming-2015/advanced-programming-2015/Debug/advanced.D6BFB63B.tlog/link.command.1.tlog
advanced-programming-2015/advanced-programming-2015/Debug/advanced.D6BFB63B.tlog/link.read.1.tlog
advanced-programming-2015/advanced-programming-2015/Debug/advanced.D6BFB63B.tlog/link.write.1.tlog
advanced-programming-2015/advanced-programming-2015/Debug/vc120.idb
advanced-programming-2015/advanced-programming-2015/Debug/vc120.pdb
advanced-programming-2015/advanced-programming-2015/advanced-programming-2015.vcxproj
advanced-programming-2015/advanced-programming-2015/advanced-programming-2015.vcxproj.filters
advanced-programming-2015/advanced-programming-2015/Debug/Test_t.obj
